@font-face {
  font-family: "Astra";
  src: url("../assets/fonts/pt-astra-serif_regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Astra";
  src: url("../assets/fonts/pt-astra-serif_italic.woff") format("woff");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url(../assets/fonts/Inter-variable.woff);
  font-style: normal;
  font-weight: 400;
}
